/* Link Resolver styles */

/* Styles for liblite header */
@charset "utf-8";

/* Libraries site styles  lss */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%; }

body { margin: 0; font-size: 100%; font-family: Arial, sans-serif; line-height: 1.231; height: 100%;}

p, li {
	line-height: 1.125em; /* 18px; */
	font-size: .814em; /* 14px; */
	color: #555;
}

h2 {
	font-size: 1.25em; /* 20px; */
	font-family: Georgia, serif;
	color: #555;
	font-weight: normal;
	line-height: 1.5em; /* 24px; */
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px #ccc;
}

h3 {
	font-size: 1em; /* 16px; */
	font-family: Arial, sans-serif;
	color: #555;
	font-weight: normal;
	line-height: 1.25em; /* 20px; */
}

h4 {
	font-size: 1em; /* 12px; */
	font-family: Arial, sans-serif;
	color: #555;
	font-weight: bold;
	line-height: 1em; /* 16px; */
}

a img {
	text-decoration: none;
	border: 0 none;
	}

/* to force images to scale (responsive) -- optional */
img, object, embed {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}  
#main-container {
	position: relative;
	min-height: 100%;
	margin-bottom: -300px;
	}

#libheader-container {
	width:100%; 
	margin-bottom: 1em; 
	height: 2em; 
	padding: 0 0 .3em; 
	background-color: #03314b;
	background-image: url(bg-local-nav-bottom.png);
	background-position: bottom;
	background-width: 100%;
	background-repeat: repeat-x;
}

#libheader {
	max-width: 940px; 
	min-width: 320px; /* change to 700px if removing responsive or the IE stylesheet */
	margin: 0 auto 0; 
	height: 2em; 
	color: #fff; 
	padding: 0; 
	white-space: nowrap; 
	overflow: hidden;
}

#libheader a {color:#fff; text-decoration:none;}
#libheader a:visited {color:#fff;}
#libheader a:hover {color:#fff; text-decoration:underline;} 

.libheader-link {float:left; font-size:.9em; padding-top:.6em; margin-left:1em;}
.libheader-liblink {float:left; font-size: 1.1em; padding-top:.3em; margin-right:2em; margin-left:.5em;}
.libheader-logo {float:right; overflow:hidden; height:2em; margin-right:.5em;}
.libfooter-text {margin: 0 .5em; font-size:.7em; padding-top:.75em; overflow:hidden;}

#libfooter-container {
	width: 100%; 
	height: 2em; 
	background-color: #03314b;
}

#libfooter {
	max-width:940px;
	min-width: 320px; /* change to 700px if removing responsive or the IE stylesheet */
	margin:1em auto 0; 
	color:#fff; 
	padding:0; 
	white-space: nowrap; 
	overflow:hidden;
}

#libfooter a {color:#fff; text-decoration:none;}
#libfooter a:visited {color:#fff;}
#libfooter a:hover {color:#fff; text-decoration:underline;} 


#full-footer-container {
	width: 100%;
	height: 300px;
	position: relative;
	}

/* responsive class to drop the gw logo when window is under 700px  */
.hide-lo {
  display: block;
  visibility: visible;  
}

/* this is set at 720 to leave room for links, adjust as needed if your links are shorter/longer */
@media screen and (max-width: 720px) {
  .hide-lo {display:none; visibility:hidden;}
}


/* If javascript is not available. these styles will improve the 360 Link layout dramatically. */
/* If javascript is available, the 360Link Reset script will rewrite the page with semantic HTML */
/*  */
/* For more info on 360Link Reset, visit http://gvsu.edu/library/360linkreset */


/* Styles for javascript disabled */

table {
	border-collapse: collapse;
/*	display: inline-table; */
}

table, table tr, table td {
	border: none;
}

div#CitationResults {
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 0 1em !important;
} 

td.CitationValue div {
	font-weight: normal;
}

#CitationJournalTitleValue, 
#CitationBookTitleValue {
	font-style: italic;
}

td.CitationLabel {
	width: 5em;
	color: #777;
	font-weight: bold;
}

td#CitationJournalIssnValue, td#CitationJournalVolumeValue {
	width: 25%; }

#SearchResults {
	width: 100%;
	margin: 1em 0; }

a#refworks {
/*	display: inline-block;
 	padding-top: 20px;
	border: 0;
	height: 0;
	width: 102px;
	background: transparent url(refworks-logo.gif) top left no-repeat; 
	position: relative;
	top: 4px;
	left: 10px; */ 
	color: #1F65A0;
	overflow: hidden; }

div#ArticleCL a,
div#JournalCL a,
a.article-button {
    border-color: #4081AF #4081AF #20559A;
    border-style: solid;
    border-width: 1px;
    color: white;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);*/
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), inset 0px 0px 2px rgba(255,255,255,0.3), 0px 1px 2px rgba(0,0,0,0.29);
    text-decoration: none;
    font-size: 1em;
    padding: .3em .4em;
    background: -moz-linear-gradient(center top , #1F65A0 20%, #4282B1 100%); /* mozilla */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #1F65A0), color-stop(100%, #4282B1)); /* Safari 4+, Chrome 2+ */     
    background: -o-linear-gradient(#1F65A0, #4282B1); /* Opera 11.10 */ 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F65A0', endColorstr='#4282B1'); /* IE6 & IE7 */ 
    ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F65A0', endColorstr='#4282B1'); /* IE8+ */ 
    background: linear-gradient(#1F65A0, #4282B1); /* the standard */
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    display: inline-block;
    }

	
div#JournalCL a {
	background: #999;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #ddd), color-stop(1, #999));
        background: -moz-linear-gradient(center top, #ddd 20%, #999 100%);
        border: 1px solid #777;
        border-bottom-color: #333;
        color: #343434;
        margin: 0 .5em 0 2em;}

table#JournalLinkTable {
	width: 95% !important;
	margin-top: .5em;
	font-size: 1.3em; }

td div#DateCL {
	margin-left: 2em;
	color: #333; }

div#DatabaseCL a,
a.SS_DatabaseHyperLink { 
	/* Don't make the database names look like links! */
	color: #555; !important
	cursor: text !important;
	display: inline-block;
	padding: .5em .3em; 
	text-decoration: none; }

#ContentNotAvailableTable {
	font-size: 1.2em; }

#ContentNotAvailableTable a {
	color: #069;
	text-decoration: none; }
	
table#ContentAvailableTable,
span.SS_ContentHeading, 
img.CellSpacer, 
p#RefinerLink2, 
td.BorderW, 
tr.LinePadRow, 
td.BorderE, 
td.CornerNW, 
td.BorderN img, 
div#RefinerLink0, 
td.CornerSE, 
td.CornerSW, 
td.BorderS, 
td.BorderW,
div.SS_NoResults {
	/* Cruft cruft cruft! Stop the insanity */
	display: none; }

/* ####################################### */	
/* Below are styles for javascript enabled */


p.lib-big-text { 
	margin-top: 2em;
	font-size: 100%;
        /* font-size: 120%; */
	font-weight: bold; }

/* taken from http://gvsulib.com/labs/link-resolver/css/linkresolver.css -- missing from github version. -lsw */


p.lib-big-text { 
	margin-top: 2em;
	font-size: 100%;
        /* font-size: 120%; */
	font-weight: bold; }

/* taken from http://gvsulib.com/labs/link-resolver/css/linkresolver.css -- missing from github version. -lsw */

p.lib-big-text { 
	margin-top: 2em;
	font-size: 100%;
        /* font-size: 120%; */
	font-weight: bold; }

/* taken from http://gvsulib.com/labs/link-resolver/css/linkresolver.css -- missing from github version. -lsw */
td.CornerSE, 
td.CornerSW, 
td.BorderS, 
td.BorderW,
div.SS_NoResults {
	/* Cruft cruft cruft! Stop the insanity */
	display: none; }

/* ####################################### */	
/* Below are styles for javascript enabled */


p.lib-big-text { 
	margin-top: 2em;
	font-size: 100%;
        /* font-size: 120%; */
	font-weight: bold; }

/* taken from http://gvsulib.com/labs/link-resolver/css/linkresolver.css -- missing from github version. -lsw */
#page-content {
/*	padding-top: 1.5em; */
	}
	
#citation {
	line-height: 1.5em;
	font-size: .814em !important; 
	margin-bottom: 1em;
	color: #555;
	}

/* end of added styles */


#top-result,
#next-step {
	margin-top: 2em; 
	}

#next-step li {
	font-size: 1em; 
	margin-top: 1em; 
        font-weight: bold; 
	color: #555
	}

#next-step a {
	font-weight: normal;
	color: #1F65A0; }

#top-result li {
	font-size: 1em; /* changed from 1 */
	margin-bottom: 1em; 
	color: #555; }

ul#top-result,
.event-body ul,
#next-step ul {
	list-style: none;
/*	margin:0; */
	padding:0; }

#next-step ul li a {
	text-decoration: none;
	color: #1F65A0;
	}

#next-step {
	border-top: 1px solid #ddd; }

.event-head {
	color: #1F65A0;
	font-size: 1em; 
	cursor: pointer;
	margin: .8em 0; }

.event-body ul li {
	font-size: 1em; 
	margin-bottom: .8em;
	font-weight: normal; }

.event-body a {
	text-decoration: none;
	font-size: 1em;
	color: #1F65A0; 
	font-weight: bold; }

.event-body h4 {
	background: #ddd;
	padding: .3em .5em; }

a.holding-details {
        font-size: .814em !important;
        color: #1F65A0;
	font-weight: normal; }

.holding-details:hover {
	background-position:0 -44px ; }

/* clicked state */
.holding-details:focus {
	background-position:0 -88px; }

.tooltip {
	display: none;
	background: #eee;
	height:5em;
	padding:1em;
	width:13em;
	font-size:.8em;
	color:#333;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); }


/* Custom footer code */
 
.clear {
	height: 300px;
	clear: both;
	}
#footer {
	margin: 0 auto 0;
/* 	margin-top: 50px;
	margin-bottom: 10px; */
	max-width: 940px;
        }
#footer p {
        font-size: 12px;
        font-family: Arial, sans-serif;
        color: #666666;
        line-height: 16px;
        }
#footer a {
	font-size: 12px;
        font-family: Arial, sans-serif;
        color: #666666;
        line-height: 16px;
	}

/* Journal List */
#journalList a tr td li {
	font-size: 1em;
        font-family: Arial, sans-serif;
	}
.SS_LetterLinks {
	font-size: .814em;
	}

div.SS_Holding {
	font-size: .814em;
        font-family: Arial, sans-serif;
/* 	max-width: 400px;  */ 
        }

.SS_Holding table {
  display:block;
  }

.SS_EJPPreContentHorizontalRules{
  display:none; /*hide hr around search box */
  }

.SS_SkipNavigationLinks{
 font-size: .725em; 
 }

.SS_CopyRightStatement {
 display: none; /* hide Serials Solutions copyright */
 }

.SS_ResultsNoteGroup {
  font-size: .814em;
  font-family: Arial, sans-serif;
  font-weight: bold;
 }
 
.SS_SearchResultsCount {
 display:none; /* hide "Search titles 1 - x of x */
 }
 
span.SS_EJPTermsOfUse {
 display: none; /* hide terms of use links */
 }

.SSEJPLinkToTop {
  font-size: .725em;
 }
 
.SS_HorizontalRules {
 display: none; /* hide hr's at bottom of page above footer */
 }
 
.SS_SearchToolsGroup {
 margin: 10px 0px 20px 0px;
 font-size: .815em;
 }

.SSJournalAlternateTitle {
 margin: 0px 0px 0px 5px;
 }
.accessibility_label {
 display: none;
 }
